<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pro_manageuser_12dinhanhtu</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServletController</servlet-name>
    <servlet-class>controller.LoginServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletController</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassController</servlet-name>
    <servlet-class>controller.ChangePassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassController</servlet-name>
    <url-pattern>/ChangePass.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserConfirmController</servlet-name>
    <servlet-class>controller.AddUserConfirmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserConfirmController</servlet-name>
    <url-pattern>/AddUserConfirm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserOKController</servlet-name>
    <servlet-class>controller.AddUserConfirmController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserOKController</servlet-name>
    <url-pattern>/AddUserOK.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewDetailUserController</servlet-name>
    <servlet-class>controller.ViewDetailUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDetailUserController</servlet-name>
    <url-pattern>/DetailUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserInputController</servlet-name>
    <servlet-class>controller.AddUserInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserInputController</servlet-name>
    <url-pattern>/AddUserInput.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUserController</servlet-name>
    <servlet-class>controller.ListUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserController</servlet-name>
    <url-pattern>/ListUser.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessController</servlet-name>
    <servlet-class>controller.SuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessController</servlet-name>
    <url-pattern>/Success.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>
		filter.EncodingFilter
	</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>